@charset "UTF-8";

@font-face {
    font-family: 'demon';
    src: url(../fonts/MB-Demonic_Tale.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.486);
    font-family: 'demon', sans-serif;
    font-size: 2em;
}

h2 {
    text-align: left;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 13px 12px 0px 0px;
    font-size: medium;
}

p {
    text-align: center;
    font-size: 1.2em;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/kamado-nezuko-kimetsu-no-yaiba-red-eyes-illustration-fan-art-hd-wallpaper-preview.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid black;
    box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.486);
    border-radius: 20px;
    width: 290px;
    height: 500px;
    padding: 20px;

    /*PARA CENTRALIZAR MEU SECTION NO MEIO DA TELA */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login div#formulario form input#ilogin {
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.301);
    margin-bottom: 15px;
    border: 1px solid black;
}

section#login div#formulario form input#ipassword {
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.301);
}

section#login div#formulario form button {
    background-color: rgba(240, 248, 255, 0.63);
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.301);
    width: 80px;
    margin: 25px 10px 0px 0px;
    padding: 3px;

}

section#login div#formulario form button a {
    text-decoration: none;
    color: black;
}

div#social {
    background-color: rgba(240, 248, 255, 0.705);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.301);
    margin-top: 200px;
    padding: 10px;
}

div#img {
    width: 190px;
    height: 115px;
    margin: 140px 0px -0px -55px;
}
