@charset "UTF-8";

@font-face {
    font-family: 'demon';
    src: url(../fonts/MB-Demonic_Tale.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/kamado-nezuko-kimetsu-no-yaiba-red-eyes-illustration-fan-art-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    background-color: green;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(255, 0, 0, 0.411);
    padding: 10px;
    width: 400px;
    height: 450px;

    /* POSICIONANDO MEU FORM NO MEIO DA TELA */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

section h1 {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0px 4px 2px rgba(138, 31, 31, 0.836);
    font-family: 'demon', sans-serif;
    font-weight: lighter;
    font-size: 4em;
}

div#formulario {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    height: 170px;
    margin: auto;  
}

div#formulario form input#iemail {
    margin: 10px;
    padding: 2px;
    box-shadow: 1px 1px 5px rgb(255, 9, 9);
}

div#formulario form input#ipassword {
    margin: 10px;
    padding: 2px;
    box-shadow: 1px 1px 5px rgb(255, 9, 9);
}

label {
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(138, 31, 31, 0.836);
}

section p#p1 {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(138, 31, 31, 0.836);
    font-size: 1.2em;
}

section p#p2 {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: justify;
    text-shadow: 0px 2px 2px rgba(138, 31, 31, 0.836);
    font-size: 20px;
    font-weight: bold;
}

button {
    display: block;
    box-shadow: 0px 2px 7px rgba(255, 0, 0, 0.692);
    margin-left: 10px;
    padding: 2px;
}

button a {
    text-decoration: none;
    color: black;
}

